body {
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.bannerCard {
    height: 550px;
}

.HockeysClub {
    justify-content: center;
    align-items: center;

}